html,body{
    margin: 0;
padding: 0;
height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.buttons{
    display: flex;
}
.button{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    
    margin: 2px;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#black{
    background-color:black;
}
#yellow{
    background-color:yellow;
}